<div>
  <small>Comment by <%= comment.author_name %></small>
	  <p>Posted <%= distance_of_time_in_words(Time.now.getutc, comment.created_at) %> ago</p>
  <p class="comment"><%= comment.body %></p>
</div>
